<!--
  Generated template for the PruebaU7Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="nvColor">
    <ion-title>prueba-u7</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="fn">

  <div *ngIf="ocultarBtn" class="button-content">
    <button ion-button class="btn" round (click)="accion1()">Iniciar</button>
  </div>

  <br />

  <div id="Iframe-Liason-Sheet2" class="iframe-border center-block-horiz" *ngIf="verPrueba">
    <div class="responsive-wrapper responsive-wrapper-wxh-760x1200">
      <iframe src="https://es.surveymonkey.com/r/PNT7WPR">Cargando…</iframe>
    </div>
  </div>

</ion-content>